.slideshow-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.fade {
    opacity: 0;
}
.fade.active {
    opacity: 1;
}
.slide {
    display: none;
    width: 100%;
}
.prev, .next {
    cursor: pointer;
    padding: 16px;
    color: white;
    font-size: 20px;
    user-select: none;
    position: absolute;
}
.prev {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.next {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.varian-title-bakar{
    justify-content: center;
    display:flex;
    position: relative;
    width:600px;
}
.varian-title-bakar span{
    font-family: Amatic SC, Roboto;
    font-size:60px;
    font-weight: bold;
    margin-bottom: 30px;
    width: 600px;
    border-bottom-style: solid;
    text-align: center;
}
.varian-desc-bakar{
    display:flex;
    height:50px;
    justify-content: center;
    align-items:center;
    font-family: Amatic SC, Roboto;
    font-weight: bold;
    font-size: 30px;
    flex-direction: column;
    flex-wrap:nowrap;
}
.varian-desc-bakar span{
    border-bottom-style: solid;
    border-color:rgb(255, 227, 0);
    width:215px;
    text-align: center;
    transition: width 0.2s;
}
.varian-desc-bakar span:hover{
    width:250px;
}

@media screen and (max-width:800px){
    .varian-title-bakar{
        width:80%;
    }
}